@page "/Admin/Products"
@using Assignment03.EntityProviders;
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Buttons

@namespace Assignment03.BlazorWebApp

<PageTitle>Products</PageTitle>
<SfButton CssClass="e-inherit" IconCss="e-icons e-plus" OnClick="() => AddNew()">Add New Product</SfButton>
<SfGrid DataSource="@WorkItemList" AllowPaging=true AllowSelection="true" AllowSorting="true" AllowFiltering="true" Height="600">
    <GridPageSettings PageCount="5" PageSizes="true"></GridPageSettings>
    <GridColumns>
        <GridColumn Field="@nameof(Product.Name)"></GridColumn>
        <GridColumn Field="@nameof(Product.Weight)"></GridColumn>
        <GridColumn Field="@nameof(Product.Price)"></GridColumn>
        <GridColumn Field="@nameof(Product.InStock)" HeaderText="No. InStock" HeaderTextAlign="TextAlign.Center"></GridColumn>
        <GridColumn Field="@nameof(Product.CategoryId)" HeaderText="Category" HeaderTextAlign="TextAlign.Center">
            <Template>
                @{
                    var product = context as Product;
                    if (product.Category == null)
                    {
                        <span>@(product.CategoryId)</span>
                    } else
                    {
                        <span>@(product.Category.Name)</span>
                    }

                }
            </Template>
        </GridColumn>
        
        <GridColumn TextAlign="TextAlign.Center" HeaderText="Add To Cart" Width="10%">
            <Template>
                @{
                    var product = context as Product;
                    <SfButton CssClass="e-inherit" IconCss="oi oi-plus" OnClick="async () => await AddProductToCartAsync(product.Id)"></SfButton>
                }
            </Template>
        </GridColumn>

@*         <GridColumn TextAlign="TextAlign.Center" HeaderText="Remove From Cart" Width="12%">
            <Template>
                @{
                    var product = context as Product;
                    <SfButton CssClass="e-inherit" IconCss="oi oi-minus" OnClick="async () => await ReduceProductFromCartAsync(product.Id)"></SfButton>
                }
            </Template>
        </GridColumn> *@

        <GridColumn TextAlign="TextAlign.Right" Width="8%" HeaderText="Details">
            <Template>
                @{
                    var product = context as Product;
                    <SfButton CssClass="e-inherit" IconCss="e-icons e-circle-info" OnClick="() => ViewDetail(product.Id)"></SfButton>
                }
            </Template>
        </GridColumn>
    </GridColumns>
</SfGrid>


