@page "/Admin/Users"
@using Assignment03.EntityProviders;
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Buttons

@namespace Assignment03.BlazorWebApp


<PageTitle>Users</PageTitle>
<SfButton CssClass="e-inherit" IconCss="e-icons e-plus" OnClick="() => AddNew()">Add New User</SfButton>
<SfGrid DataSource="@WorkItemList" AllowPaging=true AllowSelection="true" AllowSorting="true" AllowFiltering="true" Height="600">
    <GridPageSettings PageCount="5" PageSizes="true"></GridPageSettings>
    <GridColumns>
        <GridColumn Field="@nameof(User.Fullname)"></GridColumn>
        <GridColumn Field="@nameof(User.Email)"></GridColumn>
        <GridColumn Field="@nameof(User.Role)">
            <Template>
                @{
                    var user = context as User;
                    switch (user.Role)
                    {
                        case (int)RoleEnums.Manager:
                            <span>@Enum.GetName(typeof(RoleEnums), user.Role)</span>
                            break;
                        case (int)RoleEnums.Admin:
                            <span>@Enum.GetName(typeof(RoleEnums), user.Role)</span>
                            break;
                        case (int)RoleEnums.Employee:
                            <span>@Enum.GetName(typeof(RoleEnums), user.Role)</span>
                            break;
                        case (int)RoleEnums.Customer:
                            <span>@Enum.GetName(typeof(RoleEnums), user.Role)</span>
                            break;
                        default:
                            break;
                    }
                }
            </Template>
        </GridColumn>
        <GridColumn Field="@nameof(User.CreatedAt)" TextAlign="TextAlign.Right">
            <Template>
                @{
                    var User = context as User;
                    <span>@(User.CreatedAt.ToString("MMM dd, yyyy"))</span>
                }
            </Template>
        </GridColumn>
        <GridColumn Field="@nameof(User.IsDeleted)" TextAlign="TextAlign.Right"></GridColumn>
        <GridColumn TextAlign="TextAlign.Right" Width="8%">
            <Template>
                @{
                    var User = context as User;
                    <SfButton CssClass="e-inherit" IconCss="e-icons e-circle-info" OnClick="() => ViewDetail(User.Id)"></SfButton>
                }
            </Template>
        </GridColumn>
    </GridColumns>
</SfGrid>

