@page "/Admin/Carts"
@using Assignment03.EntityProviders;
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.DropDowns

@namespace Assignment03.BlazorWebApp

<PageTitle>My Carts</PageTitle>
<h3>My Carts</h3>

<SfGrid DataSource="@WorkItems" AllowPaging=true AllowSelection="true" AllowSorting="true" AllowFiltering="true" Height="600">
    <GridPageSettings PageCount="5" PageSizes="true"></GridPageSettings>
    
     <GridColumns>
        <GridColumn Field="@nameof(ProductCart.Id)" HeaderTextAlign="TextAlign.Center" Visible=false IsPrimaryKey=true></GridColumn>
        <GridColumn Field="@nameof(ProductCart.Name)" HeaderTextAlign="TextAlign.Center"></GridColumn>
        <GridColumn Field="@nameof(ProductCart.Weight)" HeaderTextAlign="TextAlign.Center"></GridColumn>
        <GridColumn Field="@nameof(ProductCart.Price)" HeaderTextAlign="TextAlign.Center"></GridColumn>
        <GridColumn Field="@nameof(ProductCart.InStock)" HeaderText="No. InStock" HeaderTextAlign="TextAlign.Center"></GridColumn>
        <GridColumn Field="@nameof(ProductCart.Category)" HeaderText="Category" HeaderTextAlign="TextAlign.Center"></GridColumn>
        <GridColumn Field="@nameof(ProductCart.Unit)" HeaderText="In Cart" HeaderTextAlign="TextAlign.Center"></GridColumn>
        <GridColumn TextAlign="TextAlign.Center" HeaderText="Add To Cart" Width="10%">
            <Template>
                @{
                    var product = context as ProductCart;
                    <SfButton CssClass="e-inherit" IconCss="oi oi-plus" OnClick="async () => await AddProductToCartAsync(product.Id)"></SfButton>
                }
            </Template>
        </GridColumn>

        <GridColumn TextAlign="TextAlign.Center" HeaderText="Remove From Cart" Width="12%">
            <Template>
                @{
                    var product = context as ProductCart;
                    <SfButton CssClass="e-inherit" IconCss="oi oi-minus" OnClick="async () => await ReduceProductFromCartAsync(product.Id)"></SfButton>
                }
            </Template>
        </GridColumn>

        <GridColumn TextAlign="TextAlign.Right" Width="8%" HeaderText="Details">
            <Template>
                @{
                    var product = context as ProductCart;
                    <SfButton CssClass="e-inherit" IconCss="e-icons e-circle-info" OnClick="() => ViewProductDetail(product.Id)"></SfButton>
                }
            </Template>
        </GridColumn>
     </GridColumns>
</SfGrid>