@page "/Admin/Categories"
@using Assignment03.EntityProviders;
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Buttons

@namespace Assignment03.BlazorWebApp


<PageTitle>Users</PageTitle>
<SfButton CssClass="e-inherit" IconCss="e-icons e-plus" OnClick="() => AddNew()">Add New Category</SfButton>
<SfGrid DataSource="@WorkItemList" AllowPaging=true AllowSelection="true" AllowSorting="true" AllowFiltering="true" Height="600">
    <GridPageSettings PageCount="5" PageSizes="true"></GridPageSettings>
    <GridColumns>
        <GridColumn Field="@nameof(Category.Name)"></GridColumn>
        <GridColumn Field="@nameof(Category.CreatedAt)" TextAlign="TextAlign.Right">
            <Template>
                @{
                    var Category = context as Category;
                    <span>@(Category.CreatedAt.ToString("MMM dd, yyyy"))</span>
                }
            </Template>
        </GridColumn>
        <GridColumn Field="@nameof(Category.IsDeleted)" TextAlign="TextAlign.Right"></GridColumn>
        <GridColumn TextAlign="TextAlign.Right" Width="8%">
            <Template>
                @{
                    var Category = context as Category;
                    <SfButton CssClass="e-inherit" IconCss="e-icons e-circle-info" OnClick="() => ViewDetail(Category.Id)"></SfButton>
                }
            </Template>
        </GridColumn>
    </GridColumns>
</SfGrid>


